<template>
  <div class="containter mt-5">
    <hr />
    <div class="row mb-0" v-for="(row, i) in trueBoard" :key="'row-' + i">
      <div class="col d-flex justify-content-center test mb-0">
        <div
          class="cont"
          v-for="(col, j) in row"
          :key="'col-' + i + j + keyReset"
        >
          <div
            :class="checkFound(i, j)"
            :style="showColor(i, j)"
            @click="revealColor(i, j)"
          >
            <!-- {{}} -->
          </div>
        </div>
      </div>
    </div>
    <hr />
    <button @click="reset()">Reset</button>
    <div class="row" v-if="win">
      <dic class="col">
        <h1>Well done, you won!!!</h1>
      </dic>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      size: 4,
      colors: [],
      pozitions: [],
      board: [],
      trueBoard: [[], []],
      foundSquares: [],
      reveal: [
        { i: -1, j: -1 },
        { i: -1, j: -1 }
      ],
      wait: false,
      keyReset: 0,
      updateNeeded: false,
      win: false
    };
  },
  mounted() {
    this.reset();
  },
  watch: {
    foundSquares(){
      if(this.foundSquares.length == this.size*this.size)
        this.win = true;
    }
  },
  methods: {
    reset(){
      this.win = false;
      this.updateNeeded= false;
      this.color= [];
      this.pozitions= [];
      this.board= [];
      this.trueBoard= [[], []];
      this.foundSquares= [];
      this.reveal= [
        { i: -1, j: -1 },
        { i: -1, j: -1 }
      ];
      this.wait= false;
       this.generateBoard();
      this.setColors();
    },
    generateBoard() {
      this.board = [];
      this.trueBoard = [];
      this.pozitions = [];
      var ind = 0;
      for (var i = 0; i < this.size; i++) {
        this.board[i] = [];
        this.trueBoard[i] = [];
        // this.pozitions[i] = [];
        for (var j = 0; j < this.size; j++) {
          this.board[i][j] = { color: "" };
          this.trueBoard[i][j] = { backgroundColor: "" };
          this.pozitions[ind] = { i: i, j: j };
          ind++;
        }
      }
    },
    setColors() {
      var first = true;
      var col;
      for (var i = 0; i < this.size * this.size; i++) {
        var poz = Math.floor(Math.random() * (this.pozitions.length - 1));
        if (first == true) {
          col = this.getRandomColor();
          first = false;
        } else first = true;
        this.board[this.pozitions[poz].i][this.pozitions[poz].j] = {
          backgroundColor: col
        };
        this.pozitions.splice(poz, 1);
      }
    },
    revealColor(i, j) {
      for(var a=0;a<this.foundSquares.length;a++){
        if(this.foundSquares[a].i== i && this.foundSquares[a].j == j)
          return;
      }
      if (this.wait == true) return;
      if (this.reveal[0].i == -1) {
        this.reveal[0].i = i;
        this.updateNeeded = true;
        this.reveal[0].j = j;
      } else {
        if(i ==this.reveal[0].i && j== this.reveal[0].j)
        return;
        if (this.reveal[1].i == -1) {
          this.reveal[1].i = i;
          this.reveal[1].j = j;
          this.updateNeeded = true;
          this.wait = true;
          this.checkFoundDouble();
          setTimeout(() => {
            for (var i = 0; i < this.trueBoard.length; i++) {
              for (var j = 0; j < this.trueBoard[i].length; j++) {
                this.trueBoard[i][j].backgroundColor = "";
              }
            }
            this.reveal[0].i = -1;
            this.reveal[0].j = -1;
            this.reveal[1].i = -1;
            this.reveal[1].j = -1;

            this.updateNeeded = true;
            this.wait = false;
          }, 1000);
        }
      }
    },
    checkFoundDouble() {
      
      if (
        this.board[this.reveal[0].i][this.reveal[0].j].backgroundColor ==
        this.board[this.reveal[1].i][this.reveal[1].j].backgroundColor
      ) {
        this.foundSquares.push({ i: this.reveal[0].i, j: this.reveal[0].j });
        this.foundSquares.push({ i: this.reveal[1].i, j: this.reveal[1].j });
      }
    },
    checkFound(i, j) {
      
      for (var a = 0; a < this.foundSquares.length; a++) {
          if (this.foundSquares[a].i == i && this.foundSquares[a].j == j) {

            return "rect-borderless";
          }
        // }
      }
      return "rect";
    },
    updateTable() {
      if (this.updateNeeded) this.keyReset++;
      this.updateNeeded = false;
    },
    showColor(i, j) {
      if (this.reveal[0].i == i && this.reveal[0].j == j) {
        this.updateTable();
        return this.board[i][j];
      }
      if (this.reveal[1].i == i && this.reveal[1].j == j) {
        return this.board[i][j];
      }
    },
    getRandomColor() {
      let options = "0123456789ABCDEF";
      let color = "#";
      for (let i = 0; i < 6; i++)
        color += options[Math.floor(Math.random() * 16)];
      return color;
    },
    checkData(){
      console.log(this.foundSquares);

    }
  }
};
</script>
<style>
.cont {
  display: inline-block;
  margin: 10px;
}
.rect-borderless {
  height: 100px;
  width: 100px;
}
.test {
  height: 120px;
}
</style>
