<template>
  <div class="about">
    <div class="container">
      <div class="row mt-5">
        <div
          class="col d-flex justify-content-center"
          v-for="(plant, i) in plants"
          :key="'button-' + i + plant"
        >
          <b-button
            :style="getStyle(i)"
            @click="growPlant(i)"
            :disabled="activePlant != i"
            >Water</b-button
          >
        </div>
      </div>
      <div class="row">
        <div class="col">
          <hr class="topLine" />
        </div>
      </div>

      <div class="row">
        <div
          class="col d-flex justify-content-center plantCol p-0 ml-5 mr-5"
          v-for="(plant, i) in plants"
          :key="'plant-' + i"
          :style="heightStyle()"
        >
          <div class="white w-100" :style="getPlantHeight(plant)"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <hr class="bottomLine" />
        </div>
      </div>
      <div class="row" v-if="winner">
        <div class="col">
          <h1>{{ winner }}</h1>
        </div>
        <div class="col">
          <b-button @click="resetGame()">
            Reset Game
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      plants: [0, 0, 0, 0],
      activePlant: -1,
      heigth: 500,
      winner: ""
    };
  },
  mounted() {
    this.selectRandomButton();
  },
  methods: {
    resetGame() {
      this.plants = [0, 0, 0, 0];
      this.activePlant = -1;
      this.selectRandomButton();
      this.winner = "";
    },
    heightStyle() {
      return { height: this.heigth + "px" };
    },
    selectRandomButton() {
      console.log("in sel elem");

      var nr = Math.floor(Math.random() * 4);
      while (nr == this.activePlant) nr = Math.floor(Math.random() * 4);
      this.activePlant = nr;
      console.log("elem: ", this.activePlant);
    },
    getStyle(plant) {
      if (plant == this.activePlant) return { background: "green" };
      else return { background: "red" };
    },
    growPlant(i) {
      console.log(i);
      this.selectRandomButton();
      // this.plants[i];
      let add = Math.floor(Math.random() * 100 + 1);
      console.log(add);
      let total = this.plants[i] + add;
      if (total > 500) {
        total = 500;
        this.winner = "Plant " + (i + 1) + "won!!!";
      }
      this.plants[i] = total;
      console.log(this.plants);
    },
    getPlantHeight(plant) {
      console.log({ height: 500 - plant + "px" });
      return { height: 500 - plant + "px" };
    },
    goTo(to) {
      this.$router.push({ name: to });
    }
  }
};
</script>
<style>
hr {
  border: 1px solid black;
}
.plantCol {
  background-color: green;
}
.white {
  background-color: white;
}
.topLine {
  margin-bottom: 0px;
}
.bottomLine {
  margin-top: 0px;
}
</style>
