<template>
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-center">
        <h1>Choose project</h1>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col d-flex justify-content-center">
        <b-button @click="goTo('RandomColors')">Random Colors</b-button>
      </div>
      <div class="col d-flex justify-content-center">
        <b-button @click="goTo('GrowingPlants')">Growing plants</b-button>
      </div>
      <div class="col d-flex justify-content-center">
        <b-button @click="goTo('Double')">Double</b-button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col d-flex justify-content-center">
        <b-button @click="goTo('WordCounter')">WordCounter</b-button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    goTo(to) {
      this.$router.push({ name: to });
    }
  }
};
</script>
