<template>
  <div class="home">
    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <b-button @click="setColors()">New Colors</b-button>
        </div>
      </div>
      <div class="row mb-2 mt-5" v-for="(row, i) in colors" :key="'row' + i">
        <div class="col" v-for="(col, j) in row" :key="'col' + j">
          <div class="row">
            <div class="col d-flex justify-content-center">
              <div class="rect" :style="col" @click="changeOne(i, j)"></div>
            </div>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center">
              <div>{{ col.backgroundColor }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      colColors: 8,
      rowColors: 5,
      colors: []
    };
  },
  mounted() {
    this.setColors();
    console.log(this.colors);
  },
  methods: {
    setColors() {
      this.colors = [];
      for (let j = 0; j < this.rowColors; j++) {
        this.colors.push([]);
        for (let i = 0; i < this.colColors; i++) {
          this.colors[j].push({ backgroundColor: this.randomColor() });
        }
      }
    },
    randomColor() {
      let options = "0123456789ABCDEF";
      let color = "#";
      for (let i = 0; i < 6; i++)
        color += options[Math.floor(Math.random() * 16)];
      return color;
    },
    changeOne(i, j) {
      this.colors[i][j].backgroundColor = this.randomColor();
    },
    goTo(to) {
      this.$router.push({ name: to });
    }
  }
};
</script>
<style>
.rect {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
</style>
