<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <textarea
          ref="textArea"
          class="textArea"
          v-model="text"
          cols="100"
        ></textarea>
      </div>
      <div class="col box">
        <div class="row" v-for="(word, i) in words" :key="'word-' + i">
          <div class="col">{{ word.word }} - {{ word.count }}</div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      words: [],
      text: ""
    };
  },
  mounted() {
    console.log(this.$refs.textArea);
    //   this.$refs.textArea
  },
  watch: {
    text() {
      var words = this.text
        .replace(/\n/g, " ")
        .replace(/[, ]+/g, " ")
        .trim()
        .replace(/[^A-Za-z0-9\s]/g, "")
        .split(" ");
      this.words = [];
      for (var i = 0; i < words.length; i++) {
        var found = false;
        for (var j = 0; j < this.words.length; j++) {
          if (this.words[j].word == words[i]) {
            this.words[j].count++;
            found = true;
          }
        }
        if (found == false && words[i] != "")
          this.words.push({ word: words[i], count: 1 });
      }
    }
  }
};
</script>

<style>
.box {
  overflow-y: scroll;
  height: 500px;
  border: 1px solid black;
}
.textArea {
  height: 500px;
}
div.editable {
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
  padding: 5px;
}

strong {
  font-weight: bold;
}
</style>
